

/* ----- Dropdown boxes Styling ----- */

/* Shared styles for both dropdowns before selection */
select#my-type,
select#my-scope {
    font-size: 16px;
    color: var(--color-gray);
    background-color: white;
}

/* Shared styles during choosing selection */
select#my-type.active,
select#my-scope.active {
    background-color: var(--color-primary);
    color: black;
}

/* Shared styles after choosing selection */
select#my-type.selected,
select#my-scope.selected {
    background-color: white;
    color: black;
}

/* ----- Checkboxes Styling ----- */

.checkbox-container {
    margin: 10px 0;
    /* Margins for checkbox container */
}

.checkbox-container label {
    display: flex; /* Make the label a flex container */
    cursor: pointer; /* Change cursor to pointer */
    margin-bottom: 10px; /* Space between checkboxes */
    position: relative; /* Positioning context for pseudo-elements */
    padding-left: 30px; /* Space for the custom checkbox */
}

/* Hide the default checkbox that is made by using the label checkboxes */
.checkbox-container input[type="checkbox"] {
    display: none;
    /* Hide the default checkbox */
}

/* Custom checkbox */
.checkbox-container label::before {
    content: '';
    /* Create a pseudo-element */
    display: inline-block;
    /* Make it behave like a block */
    width: 15px;
    height: 15px;
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    vertical-align: middle;
    /* Align the checkbox vertically */
    position: absolute;
    left: 0;
    top: 50%;
    /* Center vertically */
    transform: translateY(-50%);
    /* Aligns boxes vertically with their labels */
}

/* Style when boxes are checked */
.checkbox-container input[type="checkbox"]:checked+label::before {
    background-color: var(--color-black);
    /* Fill color when checked */
    border-color: var(--color-black);
    /* Change border color */
}